In [8]:
import os
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from skimage import io
from sklearn.model_selection import train_test_split

In [9]:
dir_data = r'D:\Data\cs-8395-dl\assignment2_data'
dir_data_train = os.path.join(dir_data,'train')
dir_data_test = os.path.join(dir_data,'test')

In [10]:
path_label_train = r'D:\Data\cs-8395-dl\assignment2_data\labels\Train_labels.csv'
path_label_test = r'D:\Data\cs-8395-dl\assignment2_data\labels\Test_labels.csv'

In [11]:
df_train = pd.read_csv(path_label_train)
print(df_train.shape)
# df_train.set_index('image',inplace=True)
df_train.head()

(9015, 8)

          image  MEL  NV  BCC  AKIEC  BKL  DF  VASC
0  ISIC_0024306    0   1    0      0    0   0     0
1  ISIC_0024307    0   1    0      0    0   0     0
2  ISIC_0024308    0   1    0      0    0   0     0
3  ISIC_0024309    0   1    0      0    0   0     0
4  ISIC_0024310    1   0    0      0    0   0     0

In [23]:
for col in df_train.columns[1:]:
    df_gb = df_train.groupby(col)
    df_pos=df_gb.get_group(1)
    count = len(df_pos)
    prcntg = count/df_train.shape[0]
    print('{}, count: {}, {:.2f}%'.format(col,count,prcntg))

MEL, count: 887, 0.10%
NV, count: 6130, 0.68%
BCC, count: 480, 0.05%
AKIEC, count: 317, 0.04%
BKL, count: 972, 0.11%
DF, count: 101, 0.01%
VASC, count: 128, 0.01%

In [27]:
X = df_train.index.values
y = [np.argmax(df_train.iloc[i][df_train.columns[1:]].values) for i in X]

In [31]:
y[:10]

[1, 1, 1, 1, 0, 1, 4, 0, 1, 0]

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.33, 
                                                    stratify = y,
                                                    random_state=42)

In [34]:
X_train[:3]

array([8245,  462, 2657], dtype=int64)

In [38]:
df_train_split = df_train.iloc[X_train]
df_train_split.shape

(6040, 8)

In [39]:
df_valid_split = df_train.iloc[X_test]
df_valid_split.shape

(2975, 8)

In [40]:
for col in df_train_split.columns[1:]:
    df_gb = df_train_split.groupby(col)
    df_pos=df_gb.get_group(1)
    count = len(df_pos)
    prcntg = count/df_train_split.shape[0]
    print('{}, count: {}, {:.2f}%'.format(col,count,prcntg))

MEL, count: 594, 0.10%
NV, count: 4107, 0.68%
BCC, count: 322, 0.05%
AKIEC, count: 212, 0.04%
BKL, count: 651, 0.11%
DF, count: 68, 0.01%
VASC, count: 86, 0.01%

In [41]:
for col in df_valid_split.columns[1:]:
    df_gb = df_valid_split.groupby(col)
    df_pos=df_gb.get_group(1)
    count = len(df_pos)
    prcntg = count/df_valid_split.shape[0]
    print('{}, count: {}, {:.2f}%'.format(col,count,prcntg))

MEL, count: 293, 0.10%
NV, count: 2023, 0.68%
BCC, count: 158, 0.05%
AKIEC, count: 105, 0.04%
BKL, count: 321, 0.11%
DF, count: 33, 0.01%
VASC, count: 42, 0.01%

In [42]:
path_label_train_split = r'D:\Data\cs-8395-dl\assignment2_data\labels\train.csv'
path_label_valid_split = r'D:\Data\cs-8395-dl\assignment2_data\labels\valid.csv'

In [43]:
df_train_split.to_csv(path_label_train_split,index=False)

In [44]:
df_valid_split.to_csv(path_label_valid_split,index=False)